.root {
  height: 100vh;
  background-color: var(--white);
}

.navigate_btn {
  padding: 12px;
  font-size: 32px;
  background-color: var(--blue-900);
  color: var(--white);
  width: fit-content;
  border-radius: 4px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}